body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.header, .hero-container, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px
    align-items: center;
}

.nav{
    display: flex;
    gap: 8px;
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: inherit
}

.hero-container{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.hero-container img{
    max-width: 300px;
}


.hero-content{
    max-width: 300px;
}
.hero-header{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-signup{
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    color: white;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.content-header{
    text-align: center;
    color: #1F2937
    font-size: 36px;
    font-weight: bolder;
}

.cards{
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
}

.quote-container{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.ca-wrapper{
    display: flex;
    justify-content: center;
}

.call-to-action{
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 16px;
    border-radius: 5px;
    justify-content: space-around;
    width: 600px;
    align-items: center;
}

.ca-header{
    font-weight: bolder
}

.ca-signup {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: white;
    border: 1px solid;
    font-weight: bold;
    flex-shrink: 0;
    padding: 5px 10px 5px 10px;
}

.footer{
    text-align: center;
    padding: 32px;
}